{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/exam.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css %}

{% block title %}
{{ exam.title }}
{% endblock title %}

{% block content %}
{% include "components/header.html" %}
<main class="container">
    <div class="exam-container">
        <h2 class="exam-title">{{ exam.title }}</h2>
        <p class="exam-description">
            Your exam has been generated successfuly.
            You can start it now or save it for later.
        </p>
        <div class="exam-actions">
            <a class="start-exam" href="{% url "exam-solve" exam.id %}">Start Now</a>
            <p class="save-for-later">Or save for later? <a href="{% url "home" %}">go home</a></p>    
        </div>
    </div>
    <p class="exam-warning">
        <strong>Warning:</strong>
        <br>
        Once you start the exam, you must complete it. You will not be able to save your progress.
        And if you leave the page, your score will be 0.
    </p>
</main>
{% endblock content %}
