{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/exam_submition.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css %}

{% block js %}
<script src="{% static 'js/exam.js' %}" defer></script>
{% endblock js %}

{% block title %}
{{ exam.title }}
{% endblock title %}

{% block content %}
{% include "components/header.html" %}
<div class="container">
    <div class="exam-header">
        <h1>{{ exam.title }}</h1>
        <div class="exam-info">
            <div class="duration-countdown"></div>
            <p class="questions-answered"><span class="answered">0</span> / {{ exam_problems|length }} answered</p>
        </div>
    </div>
    <form action="{% url 'exam-solve' exam.id %}" method="post" class="exam-form">
        {% csrf_token %}
        {% for exam_problem in exam_problems %}
        <div class="problem">
            <h3>Question {{ forloop.counter }}</h3>
            <p>{{ exam_problem.problem.body }}</p>
            {% if exam_problem.problem.figure %}
            <img src="{{ exam_problem.problem.figure.url }}" alt="{{ exam_problem.problem.figure.name }}" class="problem-figure">
            {% endif %}
            <fieldset class="problem-options">
                {% for choice in exam_problem.problem.choices.all %}
                <label class="problem-option">
                    <input type="radio" name="problem_{{ exam_problem.order }}" value="{{ choice.id }}" required>
                    {% if choice.figure %}
                    <img src="{{ choice.figure.url }}" alt="{{ choice.figure.name }}" class="choice-figure">
                    {% else %}
                    <p>{{ choice.body }}</p>
                    {% endif %}
                </label>
                {% endfor %}
            </fieldset>
        </div>
        {% endfor %}
        <button type="submit" class="submit-exam-btn">Submit Exam</button>
    </form>
</div>
{% endblock content %}
