.dashboard-header,
.summary-grid,
.content-grid,
.center {
    margin-bottom: 40px;
}

.dashboard-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.dashboard-subheader {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.badge {
    font-size: 0.8rem;
    border-radius: 99999px;
    border: 1px solid var(--border);
    padding: 0.3rem 0.5rem;
    color: var(--foreground);
}

.summary-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

@media (min-width: 640px) {
    .summary-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .summary-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.summary-card {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    background-color: var(--background);
    color: var(--foreground);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
        border-radius: 50%;
        background-color: var(--secondary);
        padding: 0.5rem;
        font-size: 1.2rem;
        min-width: 2.6rem;
        min-height: 2.6rem;

        &[data-type="textbooks"] {
            background-color: hsla(245.9, 92%, 60.8%, 0.1);
        }

        &[data-type="exams-completed"] {
            background-color: hsla(115, 92%, 61%, 0.1);
        }

        &[data-type="average-score"] {
            background-color: hsla(58, 92%, 61%, 0.1);
        }

    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.9rem;
        font-weight: bold;

        a {
            text-decoration: none;
            color: var(--primary);
            padding: 0.8rem;
        }
    }

    .trend {
        margin-inline-start: auto;
        padding: 0.3rem 0.5rem;
        font-weight: bold;
        font-size: 0.8rem;
        color: green;
        background-color: hsla(115, 92%, 61%, 0.1);
        border-radius: 9999px;

        &[data-value^="-"] {
            background-color: hsla(0, 92%, 61%, 0.1);
            color: red;
        }

        &[data-value="0"] {
            background-color: hsla(58, 92%, 61%, 0.1);
            color: orange;
        }
    }
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.2rem;
}

.tabs {
    position: relative;
    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;
    border-radius: var(--radius);
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    width: 20rem;
    height: 2.6rem;
    padding: 0.3rem 0.5rem;
}

.tab-trigger {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--foreground);
    border: none;
    border-radius: var(--radius);
    min-width: 9rem;
    height: 2rem;
    z-index: 10;
}

.tab-trigger.active {
    font-weight: bold;
}

.tab-switcher {
    position: absolute;
    min-width: 9rem;
    left: 0.5rem;
    top: 0.3rem;
    min-height: 2rem;
    border-radius: var(--radius);
    background-color: var(--background);
    z-index: 1;
    transition: left 0.3s ease-in-out;
}

.tab-switcher.right {
    left: 10.5rem;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.all-exams {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: var(--radius);
    border: 1px solid var(--primary);
    color: var(--primary);
    width: fit-content;

    &>a {
        text-decoration: none;
        border: none;
    }

    &:hover {
        background-color: var(--primary);
        color: var(--primary-foreground);
    }
}