.main-header {
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .header-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .header-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.header-content {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.header-left-content {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;

  &>span {
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: var(--primary);
  }
}


.main-nav {
  display: none;
}

@media (min-width: 1024px) {
  .main-nav {
    display: block;
  }
}

.main-nav>ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1.5rem;
  list-style: none;
}

.main-nav>ul>li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}

.main-nav>ul>li>a {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: var(--foreground);

  &:hover {
    color: var(--primary);
  }
}


.header-exam-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  color: var(--foreground);

  &:hover{
    color: var(--primary);
  }
}

.header-exam-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.5rem 0;
  z-index: 10;
  min-width: 12rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  &>ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    width: 100%;

    &>li {
      width: 100%;
      border-radius: var(--radius);
      padding: 0.5rem 0.75rem;

      &:hover {
        background-color: var(--secondary);
        color: var(--secondary-foreground);
      }

      &>a {
        width: 100%;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        color: var(--foreground);
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0.5rem 0.75rem;
        text-decoration: inherit;

        &:hover {
          background-color: inherit;
        }
      }
    }
  }
}

.header-exam-dropdown:hover,
.header-exam-button:hover + .header-exam-dropdown {
  display: block;
}


.header-right-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
  position: relative;

  &>a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;

    &:hover {
      color: var(--primary);
    }
  }
}

.auth-container {
  display: none;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .auth-container {
    display: flex;
  }
}

.header-right-content strong,
.header-mobile-auth-container>strong {
  color: inherit;
  cursor: pointer;
  text-decoration-line: underline;
  text-underline-offset: 0.25rem;
  text-decoration-style: dotted;
  text-decoration-color: var(--accent);

  &:hover {
    text-decoration-style: solid;
    color: var(--accent);
  }
}

/* menu button */

.menu-button,
.theme-toggle-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: var(--radius);
}

@media (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}

.menu-button-icon,
.theme-toggle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: calc(var(--radius) - 2px);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;

  & i {
    background-color: transparent;
  }
}

.menu-button-icon:hover {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.theme-toggle-button:hover {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.menu-button-icon-input {
  display: none;
}

/* mobile menu */

.header-mobile-menu {
  display: none;
}

.menu-button-icon-input:checked + .header-mobile-menu {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .menu-button-icon-input:checked + .header-mobile-menu {
    display: none;
  }
}

.mobile-nav {
  padding: 0.5rem 0 0.75rem 0;
  width: 100%;

  &>ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;

    &>li {
      width: 100%;
      
      &>a {
        display: block;
        padding: 0.5rem 0.75rem;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        text-decoration: none;
        color: inherit;
        width: 100%;
        border-left: 2px solid transparent;

        &.active,
        &:hover {
          color: var(--primary);
          background-color: var(--secondary);
          border-left-color: var(--primary);
        }
      }
    }
  }
}

.header-mobile-auth-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-top: 1px solid var(--border);
  height: 3rem;
}

.header-mobile-login-register-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-mobile-login-register-container a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;

  &:hover {
    color: var(--primary);
  }
}

.logout-button-container {
  display: none;
  position: absolute;
  bottom: -2.5rem;
  right: 0;
  background-color: var(--secondary);
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
  z-index: 10;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.logout-button-container.active {
  display: block;
}