
/* breadcrumbs section */

.breadcrumbs {
  color: var(--muted-foreground);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;

  &>ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    list-style: none;

    &>li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

}

@media (min-width: 640px) {
  .breadcrumbs>ul {
    flex-direction: row;
    align-items: center;
  }
}

.breadcrumbs-link {
  color: var(--muted-foreground);
  text-decoration: none;
  font-weight: 500;
}

a.breadcrumbs-link {
  color: var(--foreground);
}

a.breadcrumbs-link:hover {
  text-decoration: underline;
}
/* scope parent section */

.scope-parent {
  background-color: var(--background);
  border-radius: var(--radius);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  border: 1px solid var(--border);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .scope-parent {
    flex-direction: row;
  }
}

.scope-parent-thumbnail {
  width: 100%;

  &>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
  }
}

@media (min-width: 640px) {
  .scope-parent-thumbnail {
    width: 60%;
  }
}

.scope-parent-content {
  width: 100%;
}

@media (min-width: 640px) {
  .scope-parent-content {
    width: 66.666667%;
  }
}

.scope-parent-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--foreground);
}

.scope-parent-description {
  color: var(--muted-foreground);
  margin-bottom: 1.5rem;
}

.cards-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  width: 100%;
  border-bottom: 3px solid var(--border);
  padding-bottom: 0.5rem;
}

/* cards section */

.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  overflow: hidden;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.thumbnail {
  padding-bottom: 57%;
  position: relative;

  &>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
  }
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  flex: 1 1 0%;
}

.card-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.0.25rem;
  color: var(--foreground);
}

.card-caption {
  font-size: 0.875rem;
  line-height: 1.25rem; 
  color: var(--muted-foreground);
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.card-actions a {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-decoration: none;
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: calc(var(--radius) - 2px);
  font-weight: 500;
  color: var(--primary-foreground);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-actions a:hover {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}

.create-exam-form {
  flex: 1 1 45%;
  height: 100%;
  margin: 0;
}

.create-exam-btn {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.125rem;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  padding: 0.5rem 0.75rem;
  border-radius: calc(var(--radius) - 2px);
  font-weight: 500;
  color: var(--accent-foreground);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.scope-parent-content .create-exam-btn {
  width: fit-content;
}

.create-exam-btn:hover,
.create-exam-btn:focus,
.create-exam-btn:active {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}
