@font-face {
  font-family: 'spacegrotesk';
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


:root {
  --main-background-color: #FFFFFF;
  --secondary-background-color: #FFF9E4;
  --teriary-background-color: #FFD600;
  --main-text-color: #000000;
  --secondary-text-color: #96A2AE;
  --component-main-color: #fab005;
  --component-secondary-color: #F2E6D4;
  --component-border-color: #000000;
  --component-border-radius: 5px;
  --component-border-width: 32px;
  --component-wrong-background-color: #FF4F4F;
  --component-right-background-color: #42AE5A;
  --component-shadow-color: rgba(0, 0, 0, 1);
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'spacegrotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  min-height: 100vh; 
  background-color: var(--teriary-background-color);
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-color: var(--main-background-color);
  color: white;
  text-align: left;
  border-bottom: 1px solid var(--component-border-color);
  box-shadow: 0px 3px 0px 0px var(--component-shadow-color);
  height: 4rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  color: var(--main-text-color);
  text-align: left;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  border: 3px solid var(--component-border-color);
  margin: 10px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  max-width: 26rem;
}

.card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 0px 0px var(--component-shadow-color);
  transition: all 0.2s ease-in-out;
}

.card .cover img {
  max-width: 100%;
  border-radius: 5px;
}

.card .cover {
  text-align: center;
  margin-bottom: 10px;
  max-width: 400px;
  min-width: 300px;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--main-text-color);
  font-weight: 800;
  line-height: 1.05;
}

.card-content p {
  font-size: 1em;
  margin-bottom: 10px;
}

.explore-btn {
  align-self: flex-end;
  text-decoration: none;
  font-family: 'spacegrotesk', sans-serif;
  padding: 10px 20px;
  background-color: #b98100;
  color: var(--component-secondary-color);
  border-radius: var(--component-border-radius);
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 0px 0px var(--component-shadow-color);
}

.explore-btn:hover {
  background-color: var(--component-secondary-color);
  color: #b98100;
  transform: translateY(-2px);
  box-shadow: 0px 5px 0px 0px var(--component-shadow-color);
}
.explore-btn:active {
  transform: translateY(0px);
  box-shadow: none;
}

.breadcrumbs {
  padding: 1rem 2rem;
  background-color: #b98100;
  border-radius: var(--component-border-radius);
  box-shadow: 0px 3px 0px 0px var(--component-shadow-color);
  border: 1px solid var(--component-border-color);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin-right: 10px;
      font-weight: 600;
      color: var(--main-text-color);

      a {
        text-decoration: none;
        font-weight: 600;
        color: var(--component-secondary-color);

        &:hover,
        &:focus,
        &:active {
          color: var(--main-text-color);
          text-decoration: underline;
        }
      }

      &:not(:last-child)::after {
        content: '>';
        margin-left: 10px;
        color: var(--component-secondary-color);
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
}