{% extends "base.html" %}
{% load static %}
{% load exam_filters %}

{% block title %}Dashboard{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/scope.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock css %}


{% block content %}
{% include "components/header.html" %}
<main class="container">
  <div class="dashboard-header">
    <div>
      <h1>Welcome back, {{ user.username }}!</h1>
      <div class="dashboard-subheader">
        <p>Track your progress and continue your studies</p>
        <span class="badge">Last active: {{ user.last_login|date:"d-m-Y" }}</span>
      </div>
    </div>
    <a href="{% url 'exam-custom' %}" class="btn-primary">
      <i class="fa-solid fa-plus"></i>
      Create Exam
    </a>
  </div>

  <section class="summary-grid">
    {% for stat in stats  %}
    {% include "dashboard/components/summary_card.html" with title=stat.title count=stat.count icon=stat.icon url=stat.url trend=stat.trend %}
    {% endfor %}
  </section>

  <nav class="tabs">
    <button data-tab="lessons" class="tab-trigger">My Lessons ({{ My_lessons|length }})</button>
    <button data-tab="recent" class="tab-trigger">Recent Exams ({{ recent_exams|length }})</button>
  </nav>

  <div id="tab-lessons" class="tab-content">
    <div class="content-grid">
      {% for lesson in My_lessons %}
        {% include "components/card.html" with scope=lesson %}
      {% endfor %}
    </div>
  </div>

  <div id="tab-recent" class="tab-content">
    {% for ex in recent_exams %}
      {% include "dashboard/components/recent_exam_card.html" with ex=ex %}
    {% endfor %}
    <div class="center">
      <a href="{{ exams_url }}" class="btn-outline">View All Exams</a>
    </div>
  </div>
</div>
{% endblock %}
