{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
    {% endblock css %}
    {% block js %}    {% endblock js %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'js/init.js' %}" defer></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
      };
      </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title>{% block title %}Physics quizzes{% endblock title %}</title>
  </head>
  <body>
    {% if messages %}
      {% include "components/messages.html" with messages=messages %}
    {% endif %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
