{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/scope.css" %}">
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
      };
      </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <title>{% block title %}Physics quizzes{% endblock title %}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-content">
          <h1>Physics Quizzes</h1>
          <nav class="navbar">
            <ul class="nav-list">
              <li><a href="{% url 'login' %}">Login</a></li>
              {% comment %} <li><a href="{% url 'register' %}">Register</a></li> {% endcomment %}
              <li>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="logout-button">Logout</button>
                </form>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </main>
  </body>
</html>
