<div class="card">
  <div class="thumbnail">
    {% if request.path != '/' %}
      {% include "components/favorites_button.html" with scope_id=scope.id is_fav=scope.is_fav %}
    {% endif %}
    <img src="{% if scope.cover %}{{ scope.cover.url }}{% else %}''{% endif %}" alt="{{ scope.title }}" width="400">
  </div>
  <div class="card-content">
    <h3 class="card-title">{{ scope.title }}</h3>
    <p class="card-caption">{{ scope.caption }}</p>
    <div class="card-actions">
      {% if scope.type != "Lesson" %}
        <a href="{{ scope.url }}">Explore</a>
      {% endif %}
      {% include "components/create_exam.html" with is_card=True type=scope.type id=scope.id %}
    </div>
  </div>
</div>