{% load exam_filters %}
<div class="exam-card">
    <div class="exam-card-header">
      <div class="exam-status">
        {% if exam.submission %}
          {% if exam.submission.status == "completed" %}
            <p class="badge badge-complete"><i class="fa-solid fa-check"></i> Completed</p>
          {% else %}
            <p class="badge badge-incomplete"><i class="fa-solid fa-xmark"></i> aborted</p>
          {% endif %}
        {% else %}
          <p class="badge badge-pending"><i class="fa-solid fa-play"></i> Pending</p>
        {% endif %}
      </div>
      <div class="exam-card-main">
        <h2>{{ exam.title }}</h2>
        <div class="exam-meta">
          <div class="exam-scope"> 
            <i class="fa-solid fa-book-open"></i>
            {{ exam.scope.type }}: {{ exam.scope.title }}
          </div>
          <div class="exam-created"> 
            <i class="fa-solid fa-calendar"></i>
            {{ exam.created_at|date:"F j, Y" }}
          </div>
        </div>
      </div>
    </div>
  
    <div class="exam-card-body">
      <div class="exam-stats">
        <span>Questions: <strong>{{ exam.exam_length }}</strong></span>
        {% if exam.submission %}
        <span>Score: <strong class="{{ exam.submission.percentage|get_score_color }}">{{ exam.submission.score|floatformat:0 }} / {{ exam.exam_length }} &nbsp; ({{ exam.submission.percentage }}%)</strong></span>
        {% endif %}
      </div>
      <div class="exam-actions">
        {% if exam.submission %}
          <a href="{% url 'exam-result' exam.submission.id %}" class="btn btn-outline">View Results</a>
        {% else %}
          <a href="{% url 'exam-solve' exam.id %}" class="btn btn-primary">Solve Exam</a>
        {% endif %}
      </div>
    </div>
</div>